@charset "utf-8";
*{ margin:0; padding:0;
	box-sizing:border-box; 
} 

img {
 border:none;display: block; 
} 
ul, ol,li {
 list-style:none; 
}

body { 
	color:#333;
	 font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA; 
	background:#fff;
	font-style:normal;
	/*font-weight:normal;*/
	overflow-x:hidden
	
}
a { 
	color:#666; text-decoration:none;
	 } 
iframe{
	border: none;
}
input{
	outline:none;
}
button{
	outline: none;
}
